<div class="container">
  <div class="loginbox">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <div class="text-center">
          <img class="img-login" src="assets/img/runlogin.png">
        </div>
        <div class="card">
          <div class="card-body">
              <h3 class="card-title text-center">Register</h3>
              <form [formGroup]="registerForm" (ngSubmit)="postdata(registerForm)" autocomplete="off">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" formControlName="username" autocomplete="off" class="form-control" id="username" placeholder="Username">
                </div>

                <div class="form-group">
                  <label for="passowrd">Password</label>
                  <input type="password" formControlName="password" autocomplete="off" class="form-control" id="passowrd" placeholder="Password">
                </div>

                <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="first_name" formControlName="first_name" autocomplete="off" class="form-control" id="first_name" placeholder="First Name">
                </div>

                <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" formControlName="last_name" autocomplete="off" class="form-control" id="last_name" placeholder="Last Name">
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" formControlName="email" autocomplete="off" class="form-control" id="email" placeholder="Email">
                </div>

                <div class="form-group">
                  <label for="tel">Phone Number</label>
                  <input type="tel" formControlName="tel" autocomplete="off" class="form-control" id="tel" placeholder="Phone Number">
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
